!= partial("../../_shared/nav/nav", { "classes": "jumbotron-knockout" })
.st-content#st-content
  != partial("../../_shared/nav/navbar", { "classes": "jumbotron-knockout" })
  != partial("../../_shared/search")
  .container.st-content-inner
    != partial("../_shared/nav")
    article.col-12.col-lg-9.article-docs
      h2 Environment

      p Learn how to run Harp wherever you need it:

      ul
        li
          a(href="/docs/environment/install") Locally
          | , while you design and develop static sites or client-side applications
        li
          a(href="/docs/environment/lib") As Middleware
          | , making Harp the asset pipeline for a larger application built with Express and Node.js
        li
          a(href="/docs/environment/server") In Production
          | , where Harp will act as a web server, caching and can serve static content