!= partial("../_shared/nav/nav", { "classes": "jumbotron-knockout" })
.st-content#st-content
  != partial("../_shared/nav/navbar", { "classes": "jumbotron-knockout" })
  != partial("../_shared/search")
  .container.st-content-inner
    != partial("_shared/nav")
    article.col-12.col-lg-9.article-docs
      h1 Harp Documentation

      p
        a(href="/docs/quick-start") Install Harp
        br
        | Get started quickly with a screencast and tutorial.

      p
        a(href="/docs/development/rules") Understanding the basics
        br
        | Five simple rules you can count on while making your own Harp applications.

      h2 Environment

      p Learn how to run Harp wherever you need it:

      ul
        li
          a(href="/docs/environment/install") Locally
          | , while you design and develop static sites or client-side applications
        li
          a(href="/docs/environment/lib") As Middleware
          | , making Harp the asset pipeline for a larger application built with Express and Node.js
        li
          a(href="/docs/environment/server") In Production
          | , where Harp will act as a web server, caching and can serve static content

      h2 Development

      p
        | Read 
        a(href="/docs/development/rules") The Rules
        | , a single page crash course in getting the most out of Harp right away.

      p
        | If you are using preprocessors to write HTML, CSS, or JavaScript, Harp will make your project dramatically easier. Harp supports 
        a(href="/docs/development/markdown") Markdown
        | , 
        a(href="/docs/development/ejs") EJS
        | , 
        a(href="/docs/development/jade") Jade
        | , 
        a(href="/docs/development/less") LESS
        | , 
        a(href="/docs/development/sass") Sass
        | , 
        a(href="/docs/development/stylus") Stylus
        | , and 
        a(href="/docs/development/coffeescript") CoffeeScript
        | .

      h2 Deployment

      p
        | Learn how to deploy Harp in production mode, and have it serve your application. Or, compile your project into HTML, CSS, and JavaScript, so it's ready host it anywhere.

      p
        | You can skip this entirely with 
        a(href="https://www.harp.io") the Harp Platform
        | , the easiest way to get a Harp app online.

      h2 Contribute

      ul
        li
          a(href="https://github.com/sintaxi/harp/#contributing") Contributing to Harp
          br
          | Harp is lucky to have a community that contributes back to it. Whether you are interested in fixing a bug or adding new functionality, it is covered in this guide.

      h2 Get help with Harp

      ul
        li
          a(href="https://www.harp.io") Signup for the Harp Platform to get personal support
          br
          | Start your free trial of the Harp Platform, the easiest way to publish Harp applications. All plans include support for Harp.
        li
          a(href="http://harpjs.us7.list-manage1.com/subscribe?u=af92eba03471187c8aa0266e7&id=74381fea66") Subscribe to the Harp Weekly newsletter
          br
          | Each week, we write about what's new with client-side applications, static sites, and Harp specific tutorials.
        li
          a(href="../community/chat") Ask for help in the #harp IRC channel
          br
          | There's an active community of people using Harp in the IRC channel who are often available to answer any questions you might have.
        li
          a(href="https://github.com/sintaxi/harp") Open an issue on GitHub
          br
          | Found a problem? Have a suggestion? Feel free to open an issue.
        li
          a(href="https://twitter.com/harpwebserver") Message @HarpWebServer on Twitter
        li
          a(href="http://stackoverflow.com/questions/tagged/harp") Stack Overflow
          br
          | Ask and answer questions on Stack Overflow with the tag "harp."

  //-
    article.col-12.col-lg-9.article-docs
      h1 Welcome!
      p Harp is the zero-configuration static web server with built in preprocessing. It supports Jade, Markdown, EJS, Sass, LESS, Stylus, and CoffeeScript. Harp is great for rapidly building static sites and blogs, front-end applications, and more.
      .col-12.col-lg-6
        h4 Getting Started
        ul
          li
            a(href="/docs/quick-start"): strong Installing Harp
            p Get started quickly
          li
            a(href="/docs/development/rules") Understanding the Basics
            p Five simple rules you can count on when making templates for a Harp Application.
      .col-12.col-lg-6
        h4 Contribute
        ul
          li
            a(href="https://github.com/sintaxi/harp/issues?direction=desc&amp;sort=updated&amp;state=open") Open an issue
            //- a.btn.btn-success(href="https://github.com/sintaxi/harp/issues?direction=desc&sort=updated&state=open") Open an issue
            p Found a problem? Have a suggestion? Feel free to <a href="https://github.com/sintaxi/harp/issues?direction=desc&amp;sort=updated&amp;state=open">open an issue</a>.
          li
            a(href="irc://irc.freenode.net/harp") Join the IRC Channel (or just lurk)
            p If you'd like help, or just want to chat about Harp, join <a href="irc://irc.freenode.net/harp">#harp on irc.freenode.net</a>.
      //-
        # TODO

        This documentation are for the open source web server 
        for building and deploying Harp applications

        You can also deploying Harp applications using the Harp Platform,
        view the Harp Platform documentation. This covers adding CNAMES, 
        publishing an app through dropbox, etc.
        
        This page should be opinionated about what is most important

//- For script tags in footer.jade
- service.prism = true;