!= partial("../../_shared/nav/nav", { "classes": "jumbotron-knockout" })
.st-content#st-content
  != partial("../../_shared/nav/navbar", { "classes": "jumbotron-knockout" })
  != partial("../../_shared/search")
  .container.st-content-inner
    != partial("../_shared/nav")
    article.col-12.col-lg-9.article-docs
      h2 Development

      p
        | Read 
        a(href="/docs/development/rules") The Rules
        | , a single page crash course in getting the most out of Harp right away.

      p
        | If you are using preprocessors to write HTML, CSS, or JavaScript, Harp will make your project dramatically easier. Harp supports 
        a(href="/docs/development/markdown") Markdown
        | , 
        a(href="/docs/development/ejs") EJS
        | , 
        a(href="/docs/development/jade") Jade
        | , 
        a(href="/docs/development/less") LESS
        | , 
        a(href="/docs/development/sass") Sass
        | , 
        a(href="/docs/development/stylus") Stylus
        | , and 
        a(href="/docs/development/coffeescript") CoffeeScript
        | .