.col-12.col-lg-9
  h1 Chat about Harp

  p
    | The Harp community and team often spend time in the `#harp` Internet Relay Chat channel. You can join below, or 
    a(href="irc://irc.freenode.net/harp") in your own IRC client
    | .

  hr
.col-12
  iframe.chat(src="http://webchat.freenode.net?randomnick=1&channels=%23harp&uio=MT1mYWxzZSYxMT0xOTU3b" width="100%" height="100%")