!= partial("../../_shared/nav/nav", { "classes": "jumbotron-knockout" })
.st-content#st-content
  != partial("../../_shared/nav/navbar", { "classes": "jumbotron-knockout" })
  != partial("../../_shared/search")
  .container.st-content-inner
    != partial("../_shared/nav")
    article.col-12.col-lg-9.article-docs
      h2 Deployment

      p
        | Learn how to deploy Harp in production mode, and have it serve your application. Or, compile your project into HTML, CSS, and JavaScript, so it's ready host it anywhere.

      p
        | You can skip this entirely with 
        a(href="https://www.harp.io") the Harp Platform
        | , the easiest way to get a Harp app online.